*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    max-width: 970px;
    margin: 0 auto;
    padding: 0 15px;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    border: none;
    background-color: transparent;
}

li{
    list-style: none;
}
.hero{
    height: 100vh;
    padding: 41px 0 71px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url("../images/hero-bg.png") no-repeat center;
    background-size: cover;
}

.hero__title{
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    letter-spacing: 5.70937px;
    color: #fff;
    
}

.hero__subtitle{
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
}

.hero__scroll{
    color: #fff;
}

/* footer */

.footer{
    background-color: #141A20;

}

.footer__wrapper{
    display: grid;
    grid-template-columns: 2.6fr 1fr 1fr 1fr 2fr 1fr;
    padding: 42px  0 50px;

}

.pt{
    padding-top: 17px;
}

.footer__info{
    max-width: 141px;
}

.footer__info li:not(:last-child){
    margin-bottom: 15px;
}

.footer__socials{
    display: flex;
    max-width: 100px;
    justify-content: space-between;
    color: #fff;
}

.footer__link{
    font-size: 11px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 0.85px;
    color: #fff;
}

.footer__descr{
    font-size: 11px;
    line-height: 19px;
    color: #fff;
    max-width: 250px;
    margin-top: 16px;
    letter-spacing: 0.85px;

}

.footer__subtitle{
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.846154px;
    text-transform: uppercase;
    color: #fff;

}

.footer__info-item{
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.846154px;
    color: #fff;
}

.footer__socials i:hover{
    color: rgb(118, 118, 238);
}